<div nz-flex nzGap="middle" [nzVertical]="true">
<!--    <span>-->
<!--        combineLatest:-->
<!--        <pre>{{ combineLatest$ | async | json }}</pre>-->
<!--    </span>-->
<!--    <span>-->
<!--        forkJoin:-->
<!--        <pre>{{ forkJoin$ | async | json }}</pre>-->
<!--    </span>-->
<!--    <span>-->
<!--        merge:-->
<!--        <pre>{{ merge$ | async | json }}</pre>-->
<!--    </span>-->
<!--    <span>-->
<!--        zip:-->
<!--        <pre>{{ zip$ | async | json }}</pre>-->
<!--    </span>-->
<!--    <span>-->
<!--        concat:-->
<!--        <pre>{{ concat$ | async | json }}</pre>-->
<!--    </span>-->
<!--    <span>-->
<!--        race:-->
<!--        <pre>{{ race$ | async | json }}</pre>-->
<!--    </span>-->
    {{ stream1$ | async }}
</div>
